#logobox{
    padding-top: 8px;
}

.titlebox{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
}

.titleTop,.titleTop2{
    z-index: 99;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color:#f1f1f1;
    margin-bottom: -5px;
    padding-top: 5px;
}

.titleTop2{
    font-family: 'Rajdhani', sans-serif;
    padding-top: 10px;
    font-size: 34px;
    padding-bottom: 10px;
    line-height: 30px;
}

.subtitle2{
    font-family: 'Rajdhani', sans-serif;
    z-index: 99;
    font-size: 12px;
    text-align: center;
    color:#f9e79f;
    margin-bottom: 10px;
    line-height: 15px;
}

.small{
    padding: 0;
    margin: 0;
    height:12px;
    font-size: 24px;
    line-height: 0px;
    padding-bottom: 10px;
}

.sidenav {
  font-family: 'Rajdhani', sans-serif;
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0.4));;
  overflow-x: hidden;
  padding-top: 80px;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #97939a;/*#818181;*/
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gm-style .controls {
  font-size: 28px;  /* this adjusts the size of all the controls */

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 300;
  height: 1em;
  margin: 6px;
  text-align: center;
  user-select: none;
  padding: 2px;
  width: 1em;
  opacity: .8;
}
.gm-style .controls button {
  border: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.gm-style .controls button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.gm-style .controls.zoom-control {
  display: flex;
  flex-direction: column;
  height: auto;
}
.gm-style .controls.zoom-control button {
  font: 0.85em Rajdhani;
  margin: 1px;
  padding: 0;
}

.gm-style .controls.maptype-control {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: 200px;
}

.gm-style .controls.maptype-control button {
  display: inline-block;
  font-size: 0.5em;
  font-family: 'Rajdhani', sans-serif;
}

.selected {
  color: red;
}

.gm-style .controls.maptype-control.maptype-control-is-map .maptype-control-map {
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;
  margin: 0 2px;
  padding: 0 6px;
}

.gm-style .controls.maptype-control.maptype-control-is-cool_map .maptype-control-cool_map {
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;
  margin: 0 2px;
  padding: 0 6px;
}

.gm-style .controls.maptype-control.maptype-control-is-Mondrian_map .maptype-control-Mondrian_map {
  color:red;
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;

}

.gm-style .controls.fullscreen-control button {
  display: block;
  font-size: 1em;
  height: 100%;
  width: 100%
}
.gm-style .controls.fullscreen-control .fullscreen-control-icon {
  border-style: solid;
  height: 0.25em;
  position:absolute;
  width: 0.25em;
}
.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 2px 0 0 2px;
  left: 0.1em;
  top: 0.1em;
}
.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 0 2px 2px 0;
}
.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 2px 2px 0 0;
  right: 0.1em;
  top: 0.1em;
}
.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 0 0 2px 2px;
}
.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 0 0 2px 2px;
  left: 0.1em;
  bottom: 0.1em;
}
.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 2px 2px 0 0;
}
.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 0 2px 2px 0;
  right: 0.1em;
  bottom: 0.1em;
}
.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 2px 0 0 2px;
}

.topnav {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -25px;
    left: 0;
    overflow-x: hidden;
    padding-top: 35px;
    text-align: center;
}

.toptext{
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 0px;
    height: 24px;
    font-size: 14px;
    color: white;
}

.menu{
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 3px;
    height: 24px;
    font-size: 14px;
    /*line-height: 0px;*/
}

.menu-button{
    font-family: 'Rajdhani', sans-serif;
    padding: 0 10px;
    margin: 3px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #626567;
    line-height: 0px;
    border: none;
    cursor: pointer;
    transition: 0.3s
}

.menu-button2{
    font-family: 'Rajdhani', sans-serif;
    padding: 0 10px;
    margin: 3px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #626567;
    background-color: #f9e79f;
    line-height: 0px;
    border: none;
    cursor: pointer;
    transition: 0.3s
}

.topnav button:hover{
  background-color: #f9e79f;
}

.mapbox-styles {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -25px;
    left: 200px;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: left;
}

.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}

.mapboxgl-popup {
max-width: 200px;
}

.yellowlink{
  overflow-x: hidden;
  position: fixed;
}

.linkPos{
  overflow-x: hidden;
  position: fixed;
  padding-top: 26vw;
  opacity: 50%;
}

.enterButton{
  overflow-x: hidden;
  position: fixed;
  padding-top: 30vw;
  padding-right: 3.5vw;
  opacity: 50%;
  text-align: right;
}

/*.enterTitle {
  overflow-x: hidden;
  position: fixed;
  padding-top: 30vw;
  width: 1500px;
  height: auto;
  background: url("imgs/0-2.png") no-repeat;
  display: inline-block;
    }

.enterTitle:hover {
  width: 100%;
  height:100%;
  background: url("imgs/0-2.png") no-repeat;
}*/
